@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ebe6d6;
    --primary-color: #e78121;
    --bg-brown-color: #422b1e
    --medium-gray-color: #8f8e8e
    --gray-color: #4d4c4c;
    --white-color: #fff;

    --font-size-s: 0.8rem;
    --font-size-n: 0.9rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform:  uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--primary-color);
}

/* ------------HEADER----------------- */

header {
    position: fixed;
    width: 100%;
    z-index: 100; /* Alto z-index para garantir que fique acima de outros conteúdos */
    background: #422b1e;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil, opcional */
}

header .navbar {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 25px;
    max-width: 1900px;
    width: 100%;
}

/* --- Lado Esquerdo (Botão do Menu e Links) --- */
.navbar-left {
    display: flex; /* Habilita Flexbox para o contêiner esquerdo */
    align-items: center; /* Alinha verticalmente o botão e o menu */
    gap: 20px; /* Espaçamento entre o botão e o menu */
    flex-grow: 1; /* Permite que este lado ocupe o espaço disponível à esquerda do logo */ 
}

/* --- Logo Centralizado --- */
.nav-logo {
    justify-content: center; /* Centraliza a imagem dentro do seu próprio contêiner */
    padding-right: 100px;
}

.navbar-right-placeholder {
    width: 300px; /* Exemplo: Ajuste conforme o espaço que seu menu ocupa */
    visibility: hidden; /* Oculta o placeholder, mas mantém o espaço */
    flex-grow: 1; /* Permite que este lado ocupe o espaço disponível à direita do logo */
}

/* --- Menu de Navegação (Links de Texto) --- */
.navbar .nav-menu {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2px;
    font-size: var(--font-size-s);
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.navbar .nav-menu .nav-link {
    text-decoration: none;
    color: white;
    font-size: var(--font-size-n);
    font-weight: 400;
    transition: color 0.3s ease;
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar .nav-menu .nav-link:hover {
    /* Mantenha ou ajuste esta cor para o efeito de hover, por exemplo: */
    color: var(--primary-color); /* Usando sua variável para a cor primária */
    /* Ou uma cor específica como: color: #e78121; */
}

.navbar .icon-left .social-link{
    gap: 15px;
    color: #fff;
    padding: 10px;
    font-size: var(--font-size-m);
}

.navbar .icon-left .social-link:hover {
    color: #e78121;
}

/* ---------------------SLIDER--------------------------------- */

.slider-container {
    width: 100%;
    overflow: hidden;
    top: 6rem;
    position: relative;
}

.slider-wrapper {
    display: flex;
    width: calc(100% * 4);
    transition: transform 0.5s ease-in-out;
}

.slider-wrapper img {
    width: calc(100% / 4);
    height: 70%;
    display: block; 
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.dots button {
    width: 30px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    transition: background-color 0.3s ease;
    margin-right: 2px;
}

.dots button.active {
    background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
    .prev-btn,
    .next-btn {
        display: none;
    }
    .slider-controls {
        bottom: 10px;
    }
}